<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">
        let dataList=[[${dataList}]]
        let componentName=[[${componentName}]]
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/chart.js"></script>
</head>
<body>
<script>

</script>

<div id="chart_div"></div>

</body>
</html>