<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Model Loader</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="container">
    <div class="tab_box">
        <button class="tab_btn active"> 数字孪生可视化 </button>
        <button class="tab_btn"> 数据可视化 </button>
    </div>

    <div id="light" class="white_content">
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">关闭窗口</a>
        </br>
        <form action="1.html" method="post">
            <table class="cTable" id="cTable" style="background-color:#eeeeee;" bordercolor="#aaaaaa" border="1"  cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>测点位号</th>
                    <th>被测参数名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody th:each="measure:${measure_Component3}">
                <tr>
                    <td th:text="${measure.order_}">序号</td>
                    <td th:text="${measure.number}">测点位号</td>
                    <td th:text="${measure.name}">被测参数名称</td>
                    <td>
                        <button  onclick="location.href='line_chart'">查看折线图</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>


    </div>
    <div id="fade" class="black_overlay"></div>

    <div class="content_box ">
        <div class="content active">
            <form name="my_form" method="POST">
                <p>齿轮箱：
                    <input type="button" value="蓝色" onclick="selectedColor = 0xdddddd">
                    <input type="button" value="黄色" onclick="alert('变为黄色')">
                    轴承：
                    <input type="button" value="红色" onclick="window.setComponentColor()">
                    <input type="button" value="绿色" onclick="alert('变为绿色')">
                    <input type="reset" value="重置颜色" onclick="window.resetColor()">


                    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                        请点这里进行测试
                    </a>

                </p>
            </form>
            <div class="pic">
                <div id="output"></div>
            <div id="statsDiv"></div>
            <script th:src="@{static/js/WaterPumpLoader.js}"></script>
            <script th:src="@{static/js/ShowComponentInfo.js}"></script>
            <script th:src="@{static/js/ComponentColor.js}"></script>
        </div>
        </div>
        <div class="content">
            <table class="wTable" id="wTable" style="background-color:#eeeeee;" bordercolor="#aaaaaa" border="1"  cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>顺序</th>
                    <th>参数ID</th>
                    <th>参数名称</th>
                    <th>操作名称</th>
                </tr>
                </thead>
                <tbody th:each="measure:${measures}">
                <tr>
                    <td th:text="${measure.id}">序号</td>
                    <td th:text="${measure.order_}">顺序</td>
                    <td th:text="${measure.number}">参数ID</td>
                    <td th:text="${measure.name}">参数名称</td>
                    <td>
                        <button  onclick="location.href='line_chart'">查看折线图</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    const tabs=document.querySelectorAll('.tab_btn');
    const all_content=document.querySelectorAll('.content');
    tabs.forEach((tab,index)=>{
        tab.addEventListener('click',(e)=>{
            tabs.forEach(tab=>{tab.classList.remove('active')});
            tab.classList.add('active');

            all_content.forEach(content=>{content.classList.remove('active')});
            all_content[index].classList.add('active');
        })
    })
</script>
<script type="importmap">
	{
		"imports": {
			...
			"vue": "/npm/vue/dist/vue.esm.browser.js"
		}
	}
</script>
</body>
</html>